= render partial: "shared/side-bar";

.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group{data: {id: @group.id}}
        = @group.name
      .main-header__left-box__member-list
        Members:
        .main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    %a{href:"/groups/#{@group.id}/edit"}
      .main-header__edit-btn
        Edit

  .messages
    = render partial: 'message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'picture-o', class: 'image'
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'

      -# .form
  -#   %form{class:"new_message",methot:"post",enctype:"multipart/form-data"}
  -#     .input-box
  -#       %input{placeholder:"type a message",class:"input-box__text",type:"text"}
  -#       %label{class:"input-box__image",for:"message_image"} 
  -#         = fa_icon 'image'
  -#         %input{class:"input-box__image__file",type:"file",name:"message[image]",id:"message_image"}
  -#     %input{type:"submit",name:"commit", class:"submit-btn"}